html, body{
    height:100%;
    margin:0;
    background-color: black !important;
}

h1, h2, h3, h4, h5, h6, p{
    margin-bottom:0px !important;
}

input{
    display: block;
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 50px black inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}